@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0
}

html, body {
  height: 100%;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: $fbase;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

.h100 {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-body {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

header {
  background: $bg;
  padding-top: $f12px;
  padding-bottom: $f12px;
  color: $white;

  p {
    margin: 0;
  }

  .address {
    font-style: normal;
    font-weight: normal;
    font-size: $f16px;
    line-height: $f19px;
    text-decoration-line: underline;
  }

  .green-link {
    color: $green;
    font-style: normal;
    font-weight: 500;
    font-size: $f14px;
    line-height: $f17px;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  .socials-links {
    div {
      padding: 0;
      padding-right: $f10px;
      &:nth-of-type(1){
        padding-left: $f15px;
      }
    }
  }
}

@media (max-width: 1430px) {
}

@include media-breakpoint-down(xl) {
  html {font-size: 14px;}
}

@include media-breakpoint-down(lg) {
  .block-grey {
    background: $gray;
    color: $cDark;
    font-style: normal;
    font-weight: normal;
    font-size: $f14px;
    line-height: $f17px;
    letter-spacing: 0.01em;
    padding-bottom: $f26px;
  }
  header {
    position: relative;
    .address {
      background: $gray;
      color: $cDark;
      font-style: normal;
      font-weight: normal;
      font-size: $f14px;
      line-height: $f17px;
      letter-spacing: 0.01em;
    }
  }
  .block-white {
    background: $white;
  }


  .capt {
    font-weight: 500;
    font-size: $f18px;
    line-height: $f22px;
    letter-spacing: 0.01em;
    margin-top: $f25px;
    margin-bottom: $f17px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}